<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:post-featured-image {"aspectRatio":"4/3","height":"400px","scale":"fill","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0","left":"0","right":"0"}},"border":{"radius":{"topLeft":"13px","topRight":"13px","bottomLeft":"13px","bottomRight":"13px"}}}} /-->

<!-- wp:post-title /-->

<!-- wp:pods/pods-block-single {"template":{"label":"affichage_compact","value":"affichage_compact"}} /-->

<!-- wp:post-content /-->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->